body {
    cursor: url('../img/icons8-cursor-40.png') 20 20, auto !important;

}


button:hover {
    cursor: url('../img/icons8-clicking-40.png') 20 20, auto !important;
}

.maincontainer {
    background: rgb(113, 113, 113) !important;
    background: radial-gradient(circle, #474747 48%, rgba(0, 0, 0, 1) 100%) !important;
    margin-top: -36px !important;
}

#cardeab {
    width: 400px;
    height: 400px !important;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    outline: 1px solid #2e2e2e;
    text-align: center;
    padding: 2px 5px 5px 0px;
    background: linear-gradient(#011522, #0c0c0c) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    animation: gradient 5s ease infinite;
}

.boton4 {

    display: flex;
    justify-content: flex-start;
    margin: 20px;

    margin-bottom: 50px;
}

input:focus {
    cursor: url('../img/icons8-text-cursor-40.png') 20 20, auto !important;
}

#hrrmcont {
    background-color: #011522;

}

.p1 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.45);
}

#headm {

    margin-top: -72px !important
}

#navbar {
    background-color: rgba(0, 0, 0, 1) 100% !important;
    -webkit-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.75);
}

.h1a {
    font-size: 1.5rem;
    color: rgb(251, 255, 242) !important;
    text-align: center;
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.45);

}

.svgimg {
    width: 50px;
}

#hrrm {

    background-color: rgb(202, 202, 202) !important;
    -webkit-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    margin: 20px;
    padding: 15px;

}

#milogo {
    width: 250px !important;
    border-radius: 200px !important;

    position: relative !important;
    left: 170px !important;

}

#typed {

    background-color: #40c9ff !important;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(0, 0, 0);

}

#texthrr {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
    font-weight: 900;
    padding: 30px;
}

#mp {
    font-size: 2rem !important;
    font-weight: 900 !important;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.45);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.imgpc {

    display: flex;
    justify-content: center;

}

.gif1 {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.gif2 {

    width: 400px;
    height: 400px;

}

.imgpca {
    width: 700px;
}

.h1b {
    font-size: 2rem;
    color: rgb(251, 255, 242) !important;
    text-align: center;
    font-weight: 800;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.45);
}

.imgprog {
    width: 50px;

}

.nav-link {

    text-align: center;
    font-size: 1.3rem !important;

}



/*btn*/
.btne {
    width: 200px !important;
    position: relative !important;
    height: 3.5em !important;
    border: 3px ridge #b6b6b6 !important;
    outline: none !important;
    background-color: transparent !important;
    color: rgb(212, 212, 212) !important;
    transition: 1s !important;
    border-radius: 0.3em !important;
    font-size: 16px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    background-color: rgb(0, 0, 0) !important;
    box-shadow: 14px 8px 10px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 8px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 8px 10px 4px rgba(0, 0, 0, 0.75);
}

.btne::after {
    content: "" !important;
    position: absolute !important;
    top: -10px !important;
    left: 3% !important;
    width: 95% !important;
    height: 40% !important;

    transition: 0.5s !important;
    transform-origin: center !important;
}

.btne::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;

    transition: 0.5s;
}

.btne:hover::before,
.btne:hover::after {
    transform: scale(0)
}

.btne:hover {
    box-shadow: inset 0px 0px 25px #feffef6e;
}

.card-body {
    position: relative;
}

.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.pry {
    margin: 20px;
    display: flex !important;
}

.carde {
    width: 190px;
    height: 300px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
    outline: 1px solid #2e2e2e;
    transition: outline 1s ease 0s;
    -webkit-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 5px 25px 1px rgba(0, 0, 0, 0.75);
}

.carde:hover {
    outline: 3px solid #79f561;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.imgpry {
    width: 100px;
}

.npry {
    color: white;
    font-size: 100%;
}

.imgprya {

    width: 100%;

}

.css-button-arrow--blue {
    width: 110px;
    height: 40px;
    color: #020131;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgb(142, 181, 255);
    font-size: 0.7rem;
}

/*form*/
.cnt {
    display: flex;
    justify-content: center;

}

.form-container {
    width: 600px;
    background: linear-gradient(#011522, #0c0c0c) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    margin-bottom: 100px;
    -webkit-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 5px 25px -4px rgba(0, 0, 0, 0.75);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}




/*btn*/
.css-button-arrow--blue:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.css-button-arrow--blue:hover:after {
    opacity: 1;
    right: 10px;
}

.css-button-arrow--blue:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.escri {
    display: flex;
    justify-content: center;
}

.imgescri {
    width: 400px;
    position: relative;
    left: 30px;

    margin-top: 50px;
}

#swal2-html-container {
    font-size: 1.4rem !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    color: white;

}

#swal2-title {
    font-size: 1.5rem !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
    color: white;
}

.swal2-popup {

    background: linear-gradient(#011522, #0c0c0c) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    animation: gradient 5s ease infinite;
}

.essc {
    font-size: 1rem;
    color: white;
    position: absolute;
    left: 70px;
}

.swal2-confirm {
    background-color: rgb(100, 248, 95) !important;
    color: rgb(0, 0, 0) !important;
}


















.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 60px;
    height: 60px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .wapp:hover,
.wrapper .wapp:hover .tooltip,
.wrapper .wapp:hover .tooltip::before {
    background: #1c6815;
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #202020;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0130ff;
    color: #fff;
}







/*animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        -ms-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig
}




/*base code nav*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}




/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes rotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -90deg);
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateInUpRight {
    0% {
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -90deg);
        -ms-transform: rotate3d(0, 0, 1, -90deg);
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0
    }

    100% {
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInUpRight {
    -webkit-animation-name: rotateInUpRight;
    animation-name: rotateInUpRight;

}

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;

}

/*the animation definition*/
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-delay: 9s;
}

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes rotate {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg)
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes rotate {
    0% {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        -ms-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg)
    }

    100% {
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.rotate {
    -webkit-animation-name: rotate;
    animation-name: rotate
}

/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX
}







/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -ms-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        -ms-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

.animated.flip {
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    animation-delay: 1s;
}
















@media only screen and (max-width: 900px) {
    #milogo {
        width: 139px !important;
        border-radius: 200px !important;
        margin-top: 70px;
        position: relative !important;
        left: 30px !important;

    }

    .gif1 {
        width: 300px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #texthrr {
        color: rgb(39, 39, 39);
        font-size: 1.2rem;
        font-weight: 800;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
        padding: 20px;
    }

    .demo {
        display: flex;
        justify-content: center;
    }

    .btne {
        width: 160px !important;
        font-size: 0.9rem !important;
    }
    .essc {
        font-size: 1rem;
        color: white;
        position: absolute;
        top: 100px;
        left: 210px;
    }

    .imgprog {
        width: 50px;
        position: relative;
        right: 200px;
    }

    .p1 {

        font-size: 1rem;
    }

    #headm {

        margin-top: 49px !important
    }


    .h1a {
        font-size: 1.4rem;
        color: rgb(251, 255, 242) !important;
        text-align: center;
    }

    .h1b {

        font-size: 1.5rem;


    }

    .boton4 {

        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 34px;
        left: 170px;

    }

    .imgpca {
        width: 300px;

    }

    .carde {
        margin-top: 31px;

        height: 275px;
        font-size: 0.8rem;
    }

    .form-container {
        width: 300px;

    }

    .contactos {
        margin-top: 100px !important;
    }

    .imgescri {
        width: 300px;

        margin-top: 50px;
    }

    .svgimg {
        width: 35px;
    }

    #swal2-html-container {
        font-size: 1.1rem !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
        color: white;
    }

    #swal2-title {
        font-size: 1.2rem !important;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.45);
        color: white;
    }

    .swal2-popup {
        background-color: rgb(56, 56, 56) !important;
        width: 300px !important;
    }

    .swal2-confirm {
        background-color: rgb(100, 248, 95) !important;
        color: rgb(0, 0, 0) !important;
    }

    #cardeab {
        width: 300px;
        height: 380px !important;
        margin: 0 auto;

    }



}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .boton4 {

        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 34px;
        left: 311px;

    }
}